<header class="modals-header">
    <h2>Historial de Cambios</h2>
    <button type="button" mat-dialog-close>
        <i class='bx bx-x-circle'></i>
    </button>
</header>

<main style="overflow: auto; padding: 30px;">
    <div class="form">
        <div hidden>
            <label class="text-label">Fecha Inicio</label>
            <div class="relative">
                <input readonly class="datepiker" name="fInicio" placeholder="--/--/----" [matDatepicker]="fInicio"
                    #start_date value="" />
                <mat-datepicker #fInicio> </mat-datepicker>
                <button class="datepik_button" type="button" (click)="fInicio.open()">
                    <i class='bx bx-calendar'></i>
                </button>
            </div>
        </div>

        <div hidden>
            <label class="text-label">Fecha Fin</label>
            <div class="relative">
                <input readonly class="datepiker" name="fFin" placeholder="--/--/----" [matDatepicker]="fFin" #end_date
                    value="1" />
                <mat-datepicker #fFin> </mat-datepicker>
                <button class="datepik_button" type="button" (click)="fFin.open()">
                    <i class='bx bx-calendar'></i>
                </button>
            </div>
        </div>
        <div class="-col-2">
            <label class="text-label">Buscador</label>
            <input (keyup)="search($event)" type="text" class="input-" placeholder="Buscar..">
        </div>

        <div *ngIf="" class="container-search">
            <button class="search" id="search">
                <i class='bx bx-search'></i>
                Buscar
            </button>
        </div>
    </div>

    <main class="container-sections content-desktop">
        <section class="example-container" style="border-top: 1px solid #E0E4E8 ;">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="usuario">
                    <th mat-header-cell *matHeaderCellDef>Usuario</th>
                    <td mat-cell *matCellDef="let element">{{element.user_log}}</td>
                </ng-container>
                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef class="tc">Operacion</th>
                    <td mat-cell *matCellDef="let element" class="tc">
                        <!-- modificar - desactivar - eliminar - insertar -->
                        <span class="status desactivar">{{element.operation}}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef class="tc">Fecha</th>
                    <td mat-cell *matCellDef="let element" class="tc">
                        {{ fn.convert_date(element.date, 'dd/mm/yyyy') }}
                        <span>{{element.date.split('T')[1].split('.')[0]}}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="departamento">
                    <th mat-header-cell *matHeaderCellDef class="tc">Departamento</th>
                    <td mat-cell *matCellDef="let element" class="tc">{{ element.name_department }}</td>
                </ng-container>
                <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef class="tc">Codigo Conce.</th>
                    <td mat-cell *matCellDef="let element" class="tc">{{ element.code }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="proveedor">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{ element.name }} </td>
                </ng-container>
                <ng-container matColumnDef="zone">
                    <th mat-header-cell *matHeaderCellDef class="tc">Zona</th>
                    <td mat-cell *matCellDef="let element" class="tc"> {{ element.zone }}</td>
                </ng-container>
                <ng-container matColumnDef="nro_proveedores">
                    <th mat-header-cell *matHeaderCellDef class="tc">N° Pro</th>
                    <td mat-cell *matCellDef="let element" class="tc">{{element.nro_supplier}} </td>
                </ng-container>
                <ng-container matColumnDef="personal">
                    <th mat-header-cell *matHeaderCellDef>Personal</th>
                    <td mat-cell *matCellDef="let element">{{element.full_name}}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"
                    style=" position: sticky !important; top: 0px !important;  z-index: 20 !important;">
                </tr>
                <!-- class=" inabilitar-fila " -->
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <!--not data-->
            <div *ngIf="" class="not-data">
                <img src="assets/svg/notdata.png" alt="not-data" />
                <p>Realice una búsqueda</p>
                <span>Para que pueda comenzar a transferir</span>
            </div>
        </section>
        <div>
            <mat-paginator [pageSizeOptions]="[10, 15, 25]" showFirstLastButtons></mat-paginator>
        </div>

    </main>
    <main class="content-movil">
        <article *ngFor="let item of dataSource.data" class="card-user">
            <div class="datos-user">
                <div>
                    <h3>{{ item.full_name }}</h3>
                    <p>{{item.user_log}}</p>
                    <h4>{{ item.code }}</h4>
                </div>
                <!-- modificar - desactivar - eliminar - insertar -->
                <span class="status desactivar">{{item.operation}}</span>
            </div>
            <div class="datos-user">
                <div>
                    <p>Fecha </p>
                    <h3> 
                        {{ fn.convert_date(item.date, 'dd/mm/yyyy') }}
                        <span>{{item.date.split('T')[1].split('.')[0]}}</span>
                    </h3>
                </div>
                <div>
                    <p>Departamento</p>
                    <h3>{{item.name_department}}</h3>
                </div>
                <div>
                    <p>N° Proveedor</p>
                    <h3>{{item.nro_supplier}}</h3>
                </div>
            </div>
        </article>
    </main>
</main>