<app-loading></app-loading>

<div style="background-color: rgb(248, 251, 253);">
    <main>
        <section class="container">
            <div class="border-b">
                <h1>SUNAT OPTIMIZE</h1>
                <p>Gestiona tus guías de forma rápida y sencilla.</p>
            </div>

            <form class="form-login" [formGroup]="form">
                <span>
                    <div>
                        <i class='bx bx-user'></i>
                        <input type="text" placeholder="Ingrese Usuario" name="usuario" id="usuario"
                            formControlName="mail" [ngClass]="{'error': check_field('mail')}">
                    </div>
                </span>
                <div>
                    <i class='bx bx-lock'></i>
                    <input type="password" placeholder="Ingrese Contraseña" name="password" id="password"
                        formControlName="password" [ngClass]="{'error': check_field('password')}">
                </div>
                <label for="remember" class="remember">
                    <input type="checkbox" id="remember" name="remember" formControlName="remember">
                    <span>Recuérdame</span>
                </label>
                <!-- (click)="login()" -->
                <button type="button" (click)="login()">
                    Ingresar
                </button>

            </form>
        </section>
        <section class="section-img">
            <img class="img-" src="assets/optimatize.svg" alt="img-login">
        </section>
    </main>
</div>