<main>
    <form class="grid-cols-6">
        <div>
            <label class="text-label">Estado</label>
            <mat-select type="text" class="input-" (selectionChange)="filter_state()" [(ngModel)]="value_state_filter"
                name="value_state_filter" placeholder="seleccionar">
                <mat-option value="">TODOS</mat-option>
                <mat-option value="A">Activo</mat-option>
                <mat-option value="D">Inactivo</mat-option>
            </mat-select>
        </div>
        <div class="col-4">
            <div class="flex_">
                <div class="w-full">
                    <label class="text-label">Buscador</label>
                    <div class="relative">
                        <i class='bx bx-search-alt icons'></i>
                        <input (keyup)="search($event)" type="text" class="input- pl-34" placeholder="Buscar...">
                    </div>
                </div>
                <div class="content-btn">
                    <button class="ocultr-filtr" (click)="new_concession()">
                        <i class='bx bx-plus'></i>
                        Nueva <span>Concesión</span>
                    </button>
                </div>
            </div>
        </div>
    </form>

    <main class="container-sections content-desktop">
        <section class="example-container" style="border-top: 1px solid #E0E4E8 ;">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef class="tc">Estado</th>
                    <td mat-cell *matCellDef="let element" class="tc">
                        <div class="flex just-center"
                            (click)="change_state(element.id_concession, (element.id_state == 'A' ? 'D' : 'A'))">
                            <!-- <input id="checkbox" class="checkbox" type="checkbox" /> -->
                            <label class="switch" for="{{element.id_concession}}"
                                [ngClass]="{'active': element.id_state == 'A', 'deactivate': element.id_state == 'D'}">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="slider">
                                    <path
                                        d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V256c0 17.7 14.3 32 32 32s32-14.3 32-32V32zM143.5 120.6c13.6-11.3 15.4-31.5 4.1-45.1s-31.5-15.4-45.1-4.1C49.7 115.4 16 181.8 16 256c0 132.5 107.5 240 240 240s240-107.5 240-240c0-74.2-33.8-140.6-86.6-184.6c-13.6-11.3-33.8-9.4-45.1 4.1s-9.4 33.8 4.1 45.1c38.9 32.3 63.5 81 63.5 135.4c0 97.2-78.8 176-176 176s-176-78.8-176-176c0-54.4 24.7-103.1 63.5-135.4z">
                                    </path>
                                </svg>
                            </label>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="departamento">
                    <th mat-header-cell *matHeaderCellDef>Departamento</th>
                    <td mat-cell *matCellDef="let element">{{element.department}}</td>
                </ng-container>
                <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef class="tc">Código</th>
                    <td mat-cell *matCellDef="let element" class="tc">{{element.code}}</td>
                </ng-container>
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre Concesión</th>
                    <td mat-cell *matCellDef="let element">{{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="zona">
                    <th mat-header-cell *matHeaderCellDef class="tc">Zona</th>
                    <td mat-cell *matCellDef="let element" class="tc">{{element.zone}}</td>
                </ng-container>

                <ng-container matColumnDef="proveedor">
                    <th mat-header-cell *matHeaderCellDef class="tc">N° <br> Proveedores</th>
                    <td mat-cell *matCellDef="let element" class="tc">{{element.nro_supplier}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="personal">
                    <th mat-header-cell *matHeaderCellDef>Personal</th>
                    <td mat-cell *matCellDef="let element">{{element.full_name}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="mail">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td mat-cell *matCellDef="let element">{{element.mail}}
                    </td>
                </ng-container>


                <ng-container matColumnDef="MontoRecarga">
                    <th mat-header-cell *matHeaderCellDef class="tc">Acciones</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="flex-item">
                            <button (click)="new_concession(element)" type="button" class="key">
                                <img src="assets/editusuario.svg" alt="img">
                            </button>
                            <button (click)="delete(element.id_concession)" type="button" class="key delete">
                                <img src="assets/delte.svg" alt="img">
                            </button>
                            <button (click)="HistorialCambios(element.id_concession)" type="button"
                                class="key historial">
                                <i class='bx bx-history'></i>
                            </button>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"
                    style=" position: sticky !important; top: 0px !important;  z-index: 20 !important;">
                </tr>
                <!-- class=" inabilitar-fila " -->
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </section>
        <!--not data-->
        <div *ngIf="dataSource.data.length == 0" class="not-data-content">
            <div class="not-data">
                <div>
                    <img class="" src="https://www.basilica.hr/build/images/background/no-results-bg.2d2c6ee3.png"
                        alt="not-data" />
                </div>
                <h3>No se econtraron Datos</h3>
                <span>Para que pueda visualizar sus concesiones</span>
            </div>
        </div>
        <div>
            <mat-paginator [pageSizeOptions]="[10, 15, 25]" showFirstLastButtons></mat-paginator>
        </div>
    </main>
</main>

<main class="content-movil">
    <article *ngFor="let item of dataSource.data" class="card-user">
        <!-- <span class="content_name">M</span> -->
        <!-- <input id="checkbox" class="checkbox" type="checkbox" /> -->
        <label class="switch" for="checkbox"
            [ngClass]="{'active': item.id_state == 'A', 'deactivate': item.id_state == 'D'}"
            (click)="change_state(item.id_concession, (item.id_state == 'A' ? 'D' : 'A'))">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="slider">
                <path
                    d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V256c0 17.7 14.3 32 32 32s32-14.3 32-32V32zM143.5 120.6c13.6-11.3 15.4-31.5 4.1-45.1s-31.5-15.4-45.1-4.1C49.7 115.4 16 181.8 16 256c0 132.5 107.5 240 240 240s240-107.5 240-240c0-74.2-33.8-140.6-86.6-184.6c-13.6-11.3-33.8-9.4-45.1 4.1s-9.4 33.8 4.1 45.1c38.9 32.3 63.5 81 63.5 135.4c0 97.2-78.8 176-176 176s-176-78.8-176-176c0-54.4 24.7-103.1 63.5-135.4z">
                </path>
            </svg>
        </label>
        <div class="ga-5">
            <h3> <strong>{{item.code}} </strong> - {{ item.name }} </h3>
            <div class="datos-user">
                <ul>
                    <li> <i class='bx bx-map'></i> {{item.department}}</li>
                    <li> <i class='bx bx-map-alt'></i> {{ item.zone }} </li>
                </ul>
            </div>
        </div>
        <div class="flex-star">
            <ul class="estados">
                <li> <i class='bx bx-buildings'></i>{{ item.nro_supplier }}</li>
                <li> <i class='bx bxs-user'></i> {{item.full_name}}</li>
            </ul>

        </div>

        <button mat-icon-button [matMenuTriggerFor]="menu" class="mat-icon-button">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button type="button" class="mat-menu" (click)="new_concession(item)">
                <img src="assets/editusuario.svg" alt="img">
                <span>Editar Concesión</span>
            </button>
            <button type="button" (click)="HistorialCambios(item.id_concession)" class="mat-menu">
                <i class='bx bx-history'></i>
                Historial de Cambios
            </button>
            <button (click)="delete(item)" type="button" class="mat-menu delete">
                <img src="assets/delte.svg" alt="img">
                <span>Eliminar Usuario</span>
            </button>

        </mat-menu>
    </article>

</main>