<main>
    <form class="grid-cols-6">
        <div>
            <label class="text-label">Estado</label>
            <mat-select class="input-" (selectionChange)="applyFilter()" placeholder="seleccionar" [(ngModel)]="value_state_filter" name="value_state_filter">
                <mat-option value="">TODOS</mat-option>
                <mat-option value="A">Activo</mat-option>
                <mat-option value="D">Inactivo</mat-option>
            </mat-select>
        </div>
        <div class="col-4">
            <div class="flex_">
                <div class="w-full">
                    <label class="text-label">Buscador</label>
                    <div class="relative">
                        <i class='bx bx-search-alt icons'></i>
                        <input (keyup)="search($event)" type="text" class="input- pl-34" placeholder="Buscar...">
                    </div>
                </div>
                <div class="content-btn">
                    <button (click)="nuevoUsuario(null,false)" type="button" class="ocultr-filtr">
                        <i class='bx bx-plus'></i>
                        Nuevo <span>Usuario</span>
                    </button>
                </div>
            </div>
        </div>
    </form>

    <main class="container-sections content-desktop">
        <section class="example-container" style="border-top: 1px solid #E0E4E8 ;">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef class="tc">Estado</th>
                    <td mat-cell *matCellDef="let user_lis" class="tc">
                        <div class="flex just-center" (click)="change_state(user_lis.id_user, (user_lis.id_state == 'A' ? 'D' : 'A'))">
                            <!-- <input id="{{user_lis.id_user}}" class="checkbox" type="checkbox" [checked]="user_lis.id_state === 'A'" /> -->
                            <label class="switch" for="{{user_lis.id_user}}" [ngClass]="{'active': user_lis.id_state == 'A', 'deactivate': user_lis.id_state == 'D'}">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="slider">
                                    <path
                                        d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V256c0 17.7 14.3 32 32 32s32-14.3 32-32V32zM143.5 120.6c13.6-11.3 15.4-31.5 4.1-45.1s-31.5-15.4-45.1-4.1C49.7 115.4 16 181.8 16 256c0 132.5 107.5 240 240 240s240-107.5 240-240c0-74.2-33.8-140.6-86.6-184.6c-13.6-11.3-33.8-9.4-45.1 4.1s-9.4 33.8 4.1 45.1c38.9 32.3 63.5 81 63.5 135.4c0 97.2-78.8 176-176 176s-176-78.8-176-176c0-54.4 24.7-103.1 63.5-135.4z">
                                    </path>
                                </svg>
                            </label>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="cargo">
                    <th mat-header-cell *matHeaderCellDef>Cargo</th>
                    <td mat-cell *matCellDef="let user_lis">{{user_lis.role_name}}</td>
                </ng-container>
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre(s)</th>
                    <td mat-cell *matCellDef="let user_lis">{{user_lis.full_name}}</td>
                </ng-container>
                <ng-container matColumnDef="correo">
                    <th mat-header-cell *matHeaderCellDef>Correo Electrónico</th>
                    <td mat-cell *matCellDef="let user_lis"> {{user_lis.mail}} </td>
                </ng-container>
                <ng-container matColumnDef="usuario">
                    <th mat-header-cell *matHeaderCellDef class="tc">Usuario</th>
                    <td mat-cell *matCellDef="let user_lis" class="tc">{{ user_lis.username}} </td>
                </ng-container>
                <ng-container matColumnDef="Contrasenia">
                    <th mat-header-cell *matHeaderCellDef class="tc">Contraseña</th>
                    <td mat-cell *matCellDef="let user_lis" class="tc">{{user_lis.password}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="activo">
                    <th mat-header-cell *matHeaderCellDef class="tc">Todos (msg)</th>
                    <td mat-cell *matCellDef="let user_lis" class="tc">
                        <i *ngIf="user_lis.receive_all_message" class='bx bx-check acti'></i>
                        <i *ngIf="!user_lis.receive_all_message" class='bx bx-x sin-con'></i>
                    </td>
                </ng-container>
                <ng-container matColumnDef="sinConexion">
                    <th mat-header-cell *matHeaderCellDef class="tc">Sin concesión</th>
                    <td mat-cell *matCellDef="let user_lis" class="tc">
                        <i *ngIf="user_lis.receive_without_concession" class='bx bx-check acti'></i>
                        <i *ngIf="!user_lis.receive_without_concession" class='bx bx-x sin-con'></i>
                    </td>
                </ng-container>


                <ng-container matColumnDef="MontoRecarga">
                    <th mat-header-cell *matHeaderCellDef class="tc">Acciones</th>
                    <td mat-cell *matCellDef="let user_lis">
                        <div class="flex-item">
                            <button (click)="nuevoUsuario(user_lis, true)" type="button" class="key">
                                <img src="assets/editusuario.svg" alt="img">
                            </button>
                            <button (click)="delete(user_lis.id_user)" type="button" class="key delete">
                                <img src="assets/delte.svg" alt="img">
                            </button>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"
                    style=" position: sticky !important; top: 0px !important;  z-index: 20 !important;">
                </tr>
                <!-- class=" inabilitar-fila " -->
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </section>

        <!--not data-->
        <div *ngIf="dataSource.data.length == 0" class="not-data-content">
            <div class="not-data">
                <div>
                    <img class="" src="https://www.basilica.hr/build/images/background/no-results-bg.2d2c6ee3.png"
                        alt="not-data" />
                </div>
                <h3>No se econtraron Datos</h3>
                <span>Para que pueda visualizar sus Usuarios</span>
            </div>
        </div>
        <div>
            <mat-paginator [pageSizeOptions]="[10, 15, 25]" showFirstLastButtons></mat-paginator>
        </div>

    </main>
</main>

<!-- Vista Movil -->
<main class="content-movil">
    <article *ngFor="let items of dataSource.data" class="card-user">
        <div class="flex just-center" (click)="change_state(items.id_user, (items.id_state == 'A' ? 'D' : 'A'))">
            <!-- <input [id]="items.username" class="checkbox" type="checkbox" [checked]="items.id_state === 'A'" /> -->
            <label class="switch" [for]=" items.username" [ngClass]="{'active': items.id_state == 'A', 'deactivate': items.id_state == 'D'}">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="slider">
                    <path
                        d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V256c0 17.7 14.3 32 32 32s32-14.3 32-32V32zM143.5 120.6c13.6-11.3 15.4-31.5 4.1-45.1s-31.5-15.4-45.1-4.1C49.7 115.4 16 181.8 16 256c0 132.5 107.5 240 240 240s240-107.5 240-240c0-74.2-33.8-140.6-86.6-184.6c-13.6-11.3-33.8-9.4-45.1 4.1s-9.4 33.8 4.1 45.1c38.9 32.3 63.5 81 63.5 135.4c0 97.2-78.8 176-176 176s-176-78.8-176-176c0-54.4 24.7-103.1 63.5-135.4z">
                    </path>
                </svg>
            </label>
        </div>
        <div class="ga-5">
            <h3>{{ items.full_name}}</h3>
            <p>{{items.mail}}</p>
            <div>
                <h4>{{items.role_name }}</h4>
            </div>
        </div>
        <div class="flex-star">
            <ul class="estados">
                <li> <i *ngIf="items.receive_all_message" class='bx bx-check'></i>
                    <i *ngIf="!items.receive_all_message" class='bx bx-x'></i> Recibir todos los mensajes
                </li>
                <li> <i *ngIf="items.receive_without_concession" class='bx bx-check'></i>
                    <i *ngIf="!items.receive_without_concession" class='bx bx-x'></i> Recibir mensajes (Sin concesion
                    relacionada)
                </li>
            </ul>
            <ul class="datos-user">
                <li> <i class='bx bxs-user'></i> {{ items.username }}</li>
                <li> <i class='bx bxs-lock-alt'></i> {{ items.password}} </li>
            </ul>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="mat-icon-button">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button type="button" class="mat-menu" (click)="nuevoUsuario(items, true)">
                <img src="assets/editusuario.svg" alt="img">
                <span>Editar Usuario</span>
            </button>
            <button (click)="delete(items.id_user)" type="button" class="mat-menu delete">
                <img src="assets/delte.svg" alt="img">
                <span>Eliminar Usuario</span>
            </button>
        </mat-menu>
    </article>
<br>
<br>
</main>