<mat-sidenav-container class="sidenav-container" style="z-index: 10;">
    <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="isMenuOpen">
        <mat-nav-list>
            <div style="padding-left: 20px; height: 65px; display: flex; align-items: center;">
                <p class="logo">SUNAT <span>Optimize</span></p>
            </div>
            <span *ngFor="let item of menu">
                <!-- ruta independiente -->
                <span class="movil" *ngIf="!item.children || item.children.length === 0">
                    <a [routerLink]="item.route" mat-list-item (click)="drawer.toggle()"
                        (click)="onSelectItem(item.displayName)">
                        <div class="menu" routerLinkActive="router-link-active">
                            <i [innerHTML]="item.iconName" style="font-size: 22px;"></i>
                            <span routerLinkActive="active-icon">
                                {{item.displayName}}</span>
                        </div>
                    </a>
                </span>
                <span class="destop" *ngIf="!item.children || item.children.length === 0">
                    <a [routerLink]="item.route" mat-list-item (click)="onSelectItem(item.displayName)">
                        <div class="menu" routerLinkActive="router-link-active">
                            <i [innerHTML]="item.iconName" style="font-size: 22px;"></i>
                            <span routerLinkActive="active-icon">
                                {{item.displayName}}</span>
                        </div>
                    </a>
                </span>
            </span>
        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content [ngStyle]="{'margin-left.px' : contentMargin }" style="background: #FAFAFB; height: 100vh;">
        <mat-toolbar style="position: sticky; top: 0; z-index: 100; width: 100%; background-color: white;">
            <mat-toolbar-row>
                <div class="flex-header">
                    <button mat-icon-button (click)="drawer.toggle();">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                d="M2 5.995c0-.55.446-.995.995-.995h8.01a.995.995 0 0 1 0 1.99h-8.01A.995.995 0 0 1 2 5.995M2 12c0-.55.446-.995.995-.995h18.01a.995.995 0 1 1 0 1.99H2.995A.995.995 0 0 1 2 12m.995 5.01a.995.995 0 0 0 0 1.99h12.01a.995.995 0 0 0 0-1.99z" />
                        </svg>
                    </button>
                    <p class="operat">{{selectedItem}}</p>
                </div>
                <div class="btn-header">

                    <button [matMenuTriggerFor]="menuacciones" type="button" class="user-content">
                        <div class="user-name"><i class='bx bxs-user'></i></div>
                        <p>{{session_ls.business_name}}</p>
                        <i class='bx bx-chevron-down'></i>
                    </button>
                </div>
                <mat-menu #menuacciones="matMenu" #aboveMenu="matMenu" yPosition="above">
                    <div style="min-width: 270px;">
                        <div class="menu-items-user">
                            <div>
                                <h3>{{session_ls.business_name}} </h3>
                                <p> {{ session_ls.mail }}</p>
                            </div>
                            <hr>
                            <ul class="accion-toolbar">
                                <li>
                                    <a (click)="close()" class="cerrar-sesion" type="button">
                                        <i class='bx bx-power-off'></i>
                                        <span>Cerrar Sesión</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </mat-menu>
            </mat-toolbar-row>
        </mat-toolbar>
        <div class="container_">
            <router-outlet #outlet="outlet"></router-outlet>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>