<main class="confeti-container">
    <div class="content_">
        <div class="content-facturador">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYcJsXO8ybcIYP0S_5eBpRVTN8anOChq-vFJb0WDwB17Oi_SUPIgF66YhdBe0QQSY5uuo&usqp=CAU"
                alt="img">
            <h2>Bienvenido a SUNAT <span>OPTIMIZE</span></h2>
            <p class="max-w-md mx-auto text-sm"> Navega
                con comodidad y descubre cómo podemos simplificar tu día a día empresarial. ¡Estamos encantados de
                tenerte con nosotros y listos para ayudarte en cada paso! </p>
        </div>
    </div>
</main>