:root {
    /* --color-main: #243e8c; */
    --color-main: #0162AE;
    --color-secundario: #0A1331;
    --black: #000000;
    --gray: #8692a6;
    --gray-50: #696f79;
    --gray-100: #494949;
    --white: #fff;
}

/* styles.css o styles.scss */
.mobile-dialog {
    width: 100% !important;
    height: 100% !important;
}

.desktop-dialog {
    width: 500px !important;
    height: auto !important;
    max-width: 100% !important;
    max-height: 100% !important;
}

.desktop-dialog-historial {
    width: 1000px !important;
    height: auto !important;
    max-width: 100% !important;
    max-height: 100% !important;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Flexo';
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}


input.error {
    border-color: #e74c3c;
    color: #e74c3c;
    transition: all 0.5s ease-in-out;
}



input.error:focus {
    border-color: #e74c3c;
    color: #e74c3c;
    transition: all 0.5s ease-in-out;
}

/* Estilo para resaltar el campo cuando es válido */
input.ng-valid {
    border: 1px solid green;
}

/* Estilo para resaltar el campo cuando es inválido
input.ng-invalid {
    border: 1px solid red;
} */

/* Estilo para el mensaje de error */
.mensaje-error {
    color: red;
    font-size: 12px;
}



.mat-select-search-clear {
    position: absolute;
    right: 4px;
    top: -3px !important;
}

.mat-select-search-input {
    box-sizing: border-box;
    width: 100%;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: currentColor;
    outline: none;
    background-color: var(--mat-select-panel-background-color);
    padding: 0 44px 0 16px;
    height: calc(3.5em - 1px) !important;
    line-height: calc(3em - 1px);
    font-size: 13px;
}


div:where(.swal2-container) h2:where(.swal2-title) {
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: 0.8em 1em 0;
    color: inherit;
    font-size: 1em;
    font-weight: 700;
    font-family: 'flexo';
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
}


.not-data-content {
    display: grid;
    place-items: center;
    height: 50vh;
    overflow: hidden;
}

.not-data {
    display: grid;
    place-items: center;
    gap: 0.4rem;
    font-size: 12.5px;
}

.not-data img {
    width: 100%;
    max-width: 150px;
}

.not-data h3 {
    font-weight: 500;
    color: #b1b1b1;
    margin-top: -10px;
}

.not-data span {
    font-weight: 500;
    color: #cacaca;
}





.tc {
    text-align: center !important;
}

.input-:focus {
    outline: none;
}

.error .input-:disabled,
.input-[disabled] {
    opacity: 0.8;
    background: #d3d3d3 !important;
    border: 0.7px solid #d3d3d3 !important;
    cursor: not-allowed;
    color: #595959;
    font-weight: 600;
    pointer-events: none;
}

.mat-select {
    font-size: 13px !important;
    background: #ffffff !important;
    border: 0.7px solid #DBDFE9 !important;
    height: 41px;
}

mat-select::placeholder {
    color: red !important;
    /* Cambia "red" al color que desees */
}

.mat-mdc-option {
    font-size: 13px !important;
}

.mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after,
.mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
    color: #0d5293 !important;
}

.mat-mdc-paginator-container {
    background-color: #FBFDFF !important;
}

.mat-option {
    font-size: 12.5px;
    font-family: "flexo";
}



input,
button {
    background: none;
    border: none;
    font: inherit;
}

input:focus {
    outline: none;
    /* Elimina el resplandor predeterminado del foco del navegador */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    /* Aplica una sombra al campo de entrada enfocado */

    border: 1px solid var(--color-main);
}

.relative {
    position: relative;
}

/* .datepiker {
    background: #ffffff;
    border: 0.7px solid #DBDFE9;
    box-sizing: border-box;
    border-radius: 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 12.5px;
    line-height: 19px;
    color: #333333;
    padding: 0.6rem 0.6rem;
    margin-bottom: 0.05rem;
    width: 100%;
    height: 41px;
}

.relative i {
    right: 10px;
    top: 9px;
    position: absolute;
    color: #696f79;
    font-size: 24px;

} */

.mat-calendar-body-selected {
    background-color: var(--color-main) !important;
    color: var(--mat-datepicker-calendar-date-selected-state-text-color);
    font-size: 12.5px !important;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 100px;
}

::-webkit-scrollbar-track {
    background-color: #f2f7fb;
    border-radius: 100px;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    display: block;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(42, 62, 75, 0.124);
    border-radius: 100px;
}

.mat-mdc-menu-panel {
    --mat-menu-container-shape: 4px;
    min-width: 112px;
    max-width: 280px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    outline: 0;
    border-radius: 10px !important;
    background-color: var(--mat-menu-container-color);
    will-change: transform, opacity;
    margin-top: 5px !important;
}

.mat-mdc-header-row {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    height: var(--mat-table-header-container-height, 56px);
    color: var(--mat-table-header-headline-color, rgba(0, 0, 0, 0.87));
    font-family: var(--mat-table-header-headline-font, Roboto, sans-serif);
    line-height: var(--mat-table-header-headline-line-height);
    font-size: var(--mat-table-header-headline-size, 14px);
    font-weight: var(--mat-table-header-headline-weight, 500);
    height: 45px !important;
}


.mat-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    gap: 0.7rem;
    padding: 0.6rem 2.3rem;
    font-size: 11.5px;
    font-weight: 300;
    transition: 0.5s;
    width: 100%;
    color: #374151;
    border-bottom: 1px solid #f8f7f7;
}



.status-anulado {
    display: inline-block;
    cursor: pointer;
    color: #de1414 !important;
    font-weight: 500;
    border: 1.2px solid #de1414 !important;
    background-color: #de141415;
    padding: 4px 15px;
    border-radius: 4px;
}






.full-screen-modal {
    max-width: 100vw !important;
    max-height: 100vh !important;
    height: 100%;
    width: 100%;
}

@media (min-width: 768px) {
    .full-screen-modal {
        max-width: 550px !important;
        height: auto;
        width: 100%;
    }
}







.mat-select-search-no-entries-found {
    padding-top: 8px;
    color: red !important;
}

.status-anulado {
    position: relative;
    /* Asegúrate de que el elemento padre tenga position: relative */
}




.tooltip {
    display: none;
    position: absolute !important;
    bottom: 100%;
    left: 10%;
    background-color: white;
    color: black;
    border-radius: 5px;
    white-space: nowrap;
    border-radius: 6px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 12px;
    box-shadow: 1px 2px 10px 1px rgba(111, 122, 151, 0.489);
}

.tooltip-content {
    padding: 8px;
}

.tooltip-content p {
    font-size: 12px;
    font-weight: 500;
}

.tooltip-content strong {
    font-size: 12px;
}

.tooltip-content:nth-child(even) {
    background-color: #f2f2f2;
}

.status-anulado:hover .tooltip {
    display: block;
}



/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

mat-option {
    font-size: 12.5px;
    font-family: 'Flexo' !important;
    font-weight: 500 !important;
}


@font-face {
    font-family: 'Flexo';
    src: url('./assets/font/Flexo-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Flexo';
    src: url('./assets/font/Flexo-BlackIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Flexo';
    src: url('./assets/font/Flexo-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Flexo';
    src: url('./assets/font/Flexo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Flexo';
    src: url('./assets/font/Flexo-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: 'Flexo';
    src: url('./assets/font/Flexo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Flexo';
    src: url('./assets/font/Flexo-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Flexo';
    src: url('./assets/font/Flexo-ThinIt.ttf') format('truetype');
    font-weight: 100;
    /* Thin */
    font-style: italic;
}

@font-face {
    font-family: 'Flexo';
    src: url('./assets/font/Flexo-Demi.ttf') format('truetype');
    font-weight: 600;
    /* Demi */
    font-style: normal;
}

@font-face {
    font-family: 'Flexo';
    src: url('./assets/font/Flexo-DemiIt.ttf') format('truetype');
    font-weight: 600;
    /* Demi */
    font-style: italic;
}

@font-face {
    font-family: 'Flexo';
    src: url('./assets/font/Flexo-Heavy.ttf') format('truetype');
    font-weight: 800;
    /* Heavy */
    font-style: normal;
}

@font-face {
    font-family: 'Flexo';
    src: url('./assets/font/Flexo-HeavyIt.ttf') format('truetype');
    font-weight: 800;
    /* Heavy */
    font-style: italic;
}

@font-face {
    font-family: 'Flexo';
    src: url('./assets/font/Flexo-It.ttf') format('truetype');
    font-weight: normal;
    /* Regular */
    font-style: italic;
}

@font-face {
    font-family: 'Flexo';
    src: url('./assets/font/Flexo-Light.ttf') format('truetype');
    font-weight: 300;
    /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'Flexo';
    src: url('./assets/font/Flexo-LightIt.ttf') format('truetype');
    font-weight: 300;
    /* Light */
    font-style: italic;
}

@font-face {
    font-family: 'Flexo';
    src: url('./assets/font/Flexo-MediumIt.ttf') format('truetype');
    font-weight: 500;
    /* Medium */
    font-style: italic;
}


body {
    margin: 0;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Flexo';
}

.flex- {
    display: flex;
    align-items: center;
}

.flex-end {
    display: flex;
    align-items: end;
    justify-content: end;
}

.mat-mdc-select-placeholder {
    transition: color 400ms 133.3333333333ms cubic-bezier(0.25, 0.8, 0.25, 1);
    color: rgba(157, 157, 157, 0.734) !important;
    font-weight: 500 !important;
}



.mat-mdc-select-value {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 13px !important;
    font-weight: 600 !important;
    color: #595959 !important;
}

input:focus {
    border: 1px solid var(--color-main) !important;
}

button {
    outline: none;
    background: transparent;
    border: none;
}

.modals-header {
    border-radius: 3px 3px 0px 0px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 15px;
    border-bottom: 1px solid #e9ecf0;
    background: #FFF;
}

.modals-header h2 {
    color: var(--color-main);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.modals-header button {
    background: transparent;
    border: none;
    color: #747576;
    cursor: pointer;
}

.modals-header button i {
    font-size: 30px
}

.recargar-modals .mat-mdc-dialog-container {
    border-radius: 0px !important;
}

.just-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-mdc-menu-content {
    margin: 0;
    padding: 0px 0 !important;
    list-style-type: none;
}


.container-sections {
    background: #ffffff;
    box-shadow: 0px 1px 10px rgba(63, 61, 86, 0.05);
    padding: 15px 0px;
}

.operat {
    color: #111827;
    font-size: 14.5px !important;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.uppercase {
    text-transform: uppercase;
}

.tc {
    text-align: center !important;
}

.text-label {
    display: flex;
    align-items: center;
    padding-bottom: 0.3rem;
    color: #80868E;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.input- {
    background: #ffffff;
    border: 0.7px solid #d3d3d3;
    box-sizing: border-box;
    border-radius: 4px;
    font-style: normal;
    display: flex;
    font-weight: 600;
    align-items: center;
    font-size: 13px;
    color: #595959;
    padding: 0.3rem 0.6rem;
    width: 100%;
    height: 39px;
}




input::placeholder {
    color: rgba(157, 157, 157, 0.734);
    font-weight: 500;
}

.input-:focus {
    outline: none;
}

.input-:disabled,
.input-[disabled] {
    opacity: 0.8;
    background: #8686861f;
    cursor: not-allowed;
    color: #110a0a;
    font-weight: 600;
    pointer-events: none;
    border: 0.7px solid #9696961f;
}

.content-piker {
    display: flex;
    align-items: center;
    position: relative;
}

.py-30 {
    padding: 30px 0px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.title_ {
    color: #3C3F43;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

._descripcion {
    color: #80868E;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    padding-top: 2px;
    line-height: 20px;

}



.datepiker {
    border: 0.7px solid #d3d3d3;
    padding: 0.3rem 0.6rem;
    font-size: 13px;
    font-weight: 500;
    height: 39px;
    width: 100%;
    border-radius: 4px;
    outline: none;
    color: #3f3f46;
    background-color: white;
}

label[title~="required"]:after {
    content: "*";
    color: red;
    margin-left: 4px;
}


.inabilitar-fila td {
    color: rgb(176, 176, 176) !important;
    text-decoration: line-through;
}

.inabilitar-fila td .estado {
    opacity: none;
}

.inabilitar-fila td button {
    opacity: 1 !important;
    color: rgb(0, 0, 0) !important;
    text-decoration: none !important;
}


.datepik_button {
    position: absolute;
    top: 8px;
    right: 11px;
    cursor: pointer;
    color: #81888e;
}

.datepik_button i {
    font-size: 22px;
}

.filter-pdts {
    font-size: 12px;
    font-weight: 600;
}

.mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after,
.mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
    color: var(--color-main);
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
    color: var(--color-main) !important;
}

.mat-mdc-option {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-user-select: none;
    user-select: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: var(--mat-option-label-text-color);
    font-family: var(--mat-option-label-text-font);
    line-height: var(--mat-option-label-text-line-height);
    font-size: var(--mat-option-label-text-size);
    letter-spacing: var(--mat-option-label-text-tracking);
    font-weight: var(--mat-option-label-text-weight);
    min-height: 41px !important;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    border-color: var(--color-main) !important;
    background-color: #3097ff25 !important;
}

.mat-calendar-body-cell-content:hover {
    top: 5%;
    left: 5%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 90%;
    height: 90%;
    line-height: 1;
    border-width: 1px;
    border-style: solid;
    border-radius: 999px;
    border-color: var(--color-main) !important;
    background: var(--color-main) !important;
}

.mat-calendar-body-selected {
    background-color: var(--color-main) !important;
    color: var(--mat-datepicker-calendar-date-selected-state-text-color);
}





.mat-mdc-snack-bar-container .mdc-snackbar__surface {
    background-color: #0ab39c !important;
    border-radius: 10px !important;
    box-sizing: border-box;
    display: flex !important;
    align-items: center !important;
    max-width: 33vw;
    max-width: 400px;
    width: 100%;
    padding: 10px 35px;
    transform-origin: center;
    margin-top: 56px !important;
}



.ocultr-filtr {
    font-size: 12px;
    font-weight: 600;
    color: var(--color-main);
    cursor: pointer;
}

.mat-mdc-option.mdc-list-item {
    align-items: center;
    font-size: 12px;
}

small {
    color: var(--color-main);
    font-size: 11.5px;
}

.btn-search {
    display: flex;
    padding: 9px 20px;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    border-radius: 3px;
    font-size: 12px;
    height: 40px;
    color: white;
    background: var(--color-main);
    cursor: pointer;
}

.btn-search i {
    font-size: 20px;
}

.mat-drawer.mat-drawer-side {
    z-index: 2 !important;
}

.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-BPrWId {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-weight: 400 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    font-size: 12.5px !important;
}

.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-bN97Pc-sM5MNb {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-wrap: nowrap;
    height: 100%;
    position: relative;
    width: 290px !important;
}

.container_ {
    padding: 20px;
}





@media (min-width: 768px) {
    .operat {
        color: #111827;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }

    .grid-cols-6 {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 0.4rem;
        padding: 0rem 1rem 1rem 1rem;
    }

    .container_ {
        padding: 20px;
    }

    div.mat-mdc-select-panel {
        box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
        width: 100%;
        max-height: 275px;
        outline: 0;
        overflow: auto;
        padding: 18px 0;
        border-radius: 4px;
        box-sizing: border-box;
        position: static;
        margin-left: -5px !important;
        background-color: var(--mat-select-panel-background-color);
    }


}

@media (min-width: 968px) {
    .mat-drawer.mat-drawer-side {
        z-index: 1 !important;
    }
}

@media (min-width: 1024px) {
    .grid-cols-6 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .container_ {
        padding: 25px;
    }
}

@media (min-width: 1440px) {
    .grid-cols-6 {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    .container_ {
        padding: 30px;
    }
}

@media (min-width: 1536px) {
    .grid-cols-6 {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }

    .container_ {
        padding: 35px;
    }
}