/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background-color: #f2f7fb;
    overflow-x: hidden;
    color: #333;
    font-family: open sans, sans-serif;

}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    --color-main: #0162AE;
    --black: #000000;
    --gray: #8692a6;
    --gray-50: #696f79;
    --gray-100: #494949;
    --white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter, Helvetica, sans-serif;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

.input- {
    background: #ffffff;
    border: 0.7px solid #444444;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    color: #333333;
    padding: 0.6rem 1rem;
    margin-bottom: 0.05rem;
    width: 100%;
}


.tc {
    text-align: center !important;
}

.input-:focus {
    outline: none;
}

.error .input-:disabled,
.input-[disabled] {
    opacity: 0.8;
    background: #d3d3d3 !important;
    border: 0.7px solid #d3d3d3 !important;
    cursor: not-allowed;
    color: #110a0a;
    font-weight: 600;
    pointer-events: none;
}

.mat-select {
    font-size: 12.5px !important;
    font-family: Inter;
    background: #ffffff !important;
    border: 0.7px solid #DBDFE9 !important;
    height: 41px;
}

.mat-mdc-option {
    font-size: 13px !important;
    font-family: 'Inter' !important;
}

.mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after,
.mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
    color: #0d5293 !important;
}

.mat-mdc-paginator-container {
    background-color: #FBFDFF !important;
}

.mat-option {
    font-size: 12px;
    font-family: Inter;
}

input,
button {
    background: none;
    border: none;
    font: inherit;
}

input:focus {
    outline: none;
    /* Elimina el resplandor predeterminado del foco del navegador */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    /* Aplica una sombra al campo de entrada enfocado */

    border: 1px solid var(--color-main);
}

.relative {
    position: relative;
}

.datepiker {
    background: #ffffff;
    border: 0.7px solid #DBDFE9;
    box-sizing: border-box;
    border-radius: 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 12.5px;
    line-height: 19px;
    color: #333333;
    padding: 0.6rem 0.6rem;
    margin-bottom: 0.05rem;
    width: 100%;
    height: 41px;
}

.relative i {
    right: 10px;
    top: 9px;
    position: absolute;
    color: #696f79;
    font-size: 24px;

}

.mat-calendar-body-selected {
    background-color: var(--color-main) !important;
    color: var(--mat-datepicker-calendar-date-selected-state-text-color);
    font-size: 12.5px !important;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 100px;
}

::-webkit-scrollbar-track {
    background-color: #f2f7fb;
    border-radius: 100px;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    display: block;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(42, 62, 75, 0.124);
    border-radius: 100px;
}

.mat-mdc-menu-panel {
    --mat-menu-container-shape: 4px;
    min-width: 112px;
    max-width: 280px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    outline: 0;
    border-radius: 10px !important;
    background-color: var(--mat-menu-container-color);
    will-change: transform, opacity;
    margin-top: 5px !important;
    margin-left: -30px !important;
}

.mat-mdc-header-row {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    height: var(--mat-table-header-container-height, 56px);
    color: var(--mat-table-header-headline-color, rgba(0, 0, 0, 0.87));
    font-family: var(--mat-table-header-headline-font, Roboto, sans-serif);
    line-height: var(--mat-table-header-headline-line-height);
    font-size: var(--mat-table-header-headline-size, 14px);
    font-weight: var(--mat-table-header-headline-weight, 500);
    height: 45px !important;
}


.mat-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    gap: 0.7rem;
    padding: 0.6rem 2.3rem;
    font-size: 11.5px;
    font-weight: 300;
    transition: 0.5s;
    width: 100%;
    color: #374151;
    border-bottom: 1px solid #f8f7f7;
}



.status-anulado {
    display: inline-block;
    cursor: pointer;
    color: #de1414;
    font-weight: 500;
    border: 1.2px solid #de1414;
    background-color: #de141415;
    padding: 4px 15px;
    border-radius: 4px;
}

.status-anulado {
    position: relative;
    /* Asegúrate de que el elemento padre tenga position: relative */
}



.tooltip {
    display: none;
    position: absolute !important;
    bottom: 100%;
    left: 10%;
    background-color: white;
    color: black;
    border-radius: 5px;
    white-space: nowrap;
    border-radius: 6px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 12px;
    box-shadow: 1px 2px 10px 1px rgba(111, 122, 151, 0.489);
}

.tooltip-content {
    padding: 8px;
}

.tooltip-content p {
    font-size: 12px;
    font-weight: 500;
}

.tooltip-content strong {
    font-size: 12px;
}

.tooltip-content:nth-child(even) {
    background-color: #f2f2f2;
}

.status-anulado:hover .tooltip {
    display: block;
}