<header class="modals-header" style="height: 6vh;">
    <h2>{{body.edit ? 'Editar' : 'Nuevo'}} Usuario</h2>
    <button type="button" mat-dialog-close>
        <i class='bx bx-x-circle'></i>
    </button>
</header>

<main style="max-height: 84vh; height: 100%; overflow: auto;">
    <form class="form-content" [formGroup]="formUser">
        <div>
            <label class="text-label" title="required">Rol</label>
            <div class="relative">
                <img class="icons" src="assets/rol.svg" alt="">
                <mat-select formControlName="id_role" class="input- class2" placeholder="Seleccionar Cargo">
                    <mat-option *ngFor="let item of list_role" [value]="item.id_role"> {{item.role_name }}</mat-option>
                </mat-select>
            </div>
        </div>

        <div>
            <label class="text-label" title="required">Nombre(s)</label>
            <div class="relative">
                <img class="icons" src="assets/nombre.svg" alt="nombre">
                <input type="text" formControlName="full_name" [ngClass]="{'error': check_field('full_name')}"
                    class="input-" placeholder=" Ingrese Nombre(s)">
            </div>
        </div>
        <div>
            <label class="text-label" title="required">Correo electrónico</label>
            <div class="relative">
                <i class='bx bx-envelope icons'></i>
                <input type="text" formControlName="mail" class="input-" [ngClass]="{'error': check_field('mail')}"
                    placeholder="Ingrese Correo Electrónico">
            </div>
        </div>
        <div>
            <label class="text-label" title="required"> Usuario</label>
            <div class="relative">
                <i class='bx bx-user icons'></i>
                <input type="text" formControlName="username" class="input-"
                    [ngClass]="{'error': check_field('username')}" placeholder="Ingrese Usuario">
            </div>
        </div>
        <div>
            <label class="text-label" title="required">Contraseña</label>
            <div class="relative">
                <i class='bx bx-lock icons'></i>
                <input type="text" formControlName="password" class="input-"
                    [ngClass]="{'error': check_field('password')}" placeholder="Ingrese Contraseña">
            </div>
        </div>
        <div>
            <mat-slide-toggle formControlName="receive_all_message" color="primary">
                <span class="text-label">Recepcionar todos los mensajes</span>
            </mat-slide-toggle>
        </div>
        <div>
            <mat-slide-toggle formControlName="receive_without_concession" color="primary">
                <span class="text-label">Recepcionar mensajes (Sin concesion relacionada)</span>
            </mat-slide-toggle>
        </div>
    </form>
</main>
<footer style="height: 10vh;">
    <button class="cancelar" mat-dialog-close type="button">Cancelar</button>
    <button (click)="saveUser()" class="guardar" type="submit">Guardar</button>
</footer>